.postBlockBasic {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 19px;
  min-height: 80vh;
  background-color: transparent;
}

.postBlockBasicDark {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 19px;
  min-height: 80vh;
}
