.form {
  max-width: 500px;
  min-height: 600px;
  background-color: transparent;
  padding: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  margin:0 auto;
}

form  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formInputStyleBtn,
.formInputStyle {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 20px;
  border-color: rgb(33, 187, 243);
  background-color: rgb(237 243 255);
  outline:none;
  padding: 5px 10px;
  font-size: 20px;
}

.formInputStyleBtn {
  /* display: block; */
  color: white;
  font-size: 20px;
  background-color: rgb(64, 123, 250);
  border: none;
  cursor: pointer;
  text-align: center;
}

.formInputStyleBtn:hover {
  background-color: rgb(20, 82, 238);
}

.formInputStyleBtn:last-of-type,
.formInputStyle:last-of-type {
margin-top: 25px;
}



.form p {
  font-size: 18px;
}

.form span {
  color: rgb(64, 123, 250);
  font-weight: 500;
}

.formBlock p {
  padding-bottom: 10px;
}

.formInputStyleBtn:focus,
.formInputStyle:focus {
  border-color: rgb(20, 82, 238);
}
