.bodyBlock  {
  max-width: 1498px;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  background-image: url("../Container/backgroundBody.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 1;
}

.bodyBlockDark {
  max-width: 1498px;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  background-color: dimgray;
  background-image: url("../Container/backgroundBody.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 1;
}