
.navBarMenu {
  width: 100%;
  min-height: 200px;
  background-color: #007bff;
  padding: 50px;
  display: flex;
  position: relative;
  z-index: 10;
}

.navBarMenuDark {
  width: 100%;
  min-height: 200px;
  background-color: #1f4873;
  padding: 50px;
  display: flex;
  position: relative;
  z-index: 10;
}

.navBarBtn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
}

.navBarBtn img {
  width: inherit;
  height: inherit;
}

.navBarList a{
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.navBarList li {
  margin-bottom: 10px;
}

.navBarList a:hover {
  border-bottom: 2px solid white;
}

.btnOut {
  width: 70px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  bottom: 61%;
}
