.app {
  width: 1500px;
  min-height: 800px;
  border: 1px solid black;
  margin: 0 auto;
}

.app-block {
  min-height: 200px;
  background-color: ghostwhite;
  padding: 15px;
  border-bottom: 1px solid black;
}

.app-block:last-child {
  border-bottom: none;
}

.block-input,
.block-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.block-title {
  display: flex;
  align-items: center;
}

.block-user {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}