.app {
  width: 1500px;
  min-height: 800px;
  border: 1px solid black;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app-block {
  min-height: 200px;
  background-color: ghostwhite;
  padding: 30px 15px;
  border-bottom: 1px solid black;
}

.app-block:last-child {
  border-bottom: none;
}

.block-clicker,
.block-input,
.block-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.block-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.block-post,
.block-user {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.block-main {
  min-height: 500px;
  background-color: rgb(208, 200, 191);
}